@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}